.feature {
  position: relative;
}
.feature .feature-col {
  margin-bottom: 30px;
}
.feature .feature-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  text-align: center;
  background: #fff;
}
.feature .feature-content i {
  color: #ff6f61;
  font-size: 60px;
}
.feature .feature-content h2 {
  font-size: 20px;
}
.feature .feature-content p {
  font-size: 15px;
  margin: 0;
}
