html {
  scroll-behavior: smooth;
}
body {
  color: #353535;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: #f3f6ff;
}

a {
  color: #ff6f61;
}
.btn:hover {
  background-color: #ff6f61;
  color: #fff !important;
}
a:hover,
a:active,
a:focus {
  color: #353535 !important;
  outline: none;
  text-decoration: none;
}
.breadcrumb-item.active {
  text-transform: capitalize;
}
h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}
